@import '~@/styles/_wrapper.scss';
@import '~@/styles/_variables.scss';

.sidebar {
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  li {
    line-height: 1;
  }

  a {
    display: inline-block;
  }

  .navbar-items {
    display: none;
    border-bottom: 1px solid var(--common-border);
    transition: border-color var(--common-text-color);
    padding: 8px 0 10px 0;

    a {
      font-weight: 600;
    }

    .navbar-item {
      display: block;
      line-height: 18px;
      font-size: 1.1em;
      padding: 8px 0 8px 22px;
    }
  }

  .sidebar-items {
    padding: 22px 0;
  }
}

@media (max-width: $MQMobile) {
  .sidebar {
    .navbar-items {
      display: block;

      .navbar-dropdown-wrapper
        .navbar-dropdown
        .navbar-dropdown-item
        a.router-link-active::after {
        top: calc(14px - 2px);
      }
    }

    .sidebar-items {
      padding: 14px 0;
    }
  }
}

.sidebar-item {
  cursor: default;

  &.sidebar-heading {
    color: var(--common-text-color);
    transition: color 0.15s ease;
    font-size: 14px;
    font-weight: bold;
    padding: 6px 14px 6px 9px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    border-left: 4px solid transparent;

    &.collapsible {
      cursor: pointer;

      & + .sidebar-item-children {
        @include dropdown_wrapper;
        margin-bottom: 10px;
      }
    }

    .arrow {
      position: relative;
      top: -0.12em;
      left: 0.5em;
    }
  }

  &:not(.sidebar-heading) {
    font-size: 12px;
    font-weight: 400;
    display: inline-block;
    color: var(--c-text);
    border-left: 4px solid transparent;
    margin: 0;
    padding: 4px 14px 4px 9px;
    line-height: 1.4;
    width: 100%;
    box-sizing: border-box;

    & + .sidebar-item-children {
      padding-left: 14px;
      font-size: 12px;
    }

    .sidebar-item-children .sidebar-item-children & {
      padding: 4px 14px 4px 8px;

      &.active {
        font-weight: 500;
        border-left-color: transparent;
      }
    }
  }
}

a.sidebar-item {
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;

  &:hover {
    color: var(--theme-color);
  }

  &.active {
    font-weight: 600;
    color: var(--theme-color);
    border-left-color: var(--theme-color);
  }
}

a.sidebar-heading + .sidebar-item-children {
  .sidebar-item {
    &.active {
      font-weight: 400;
      border-left: 4px solid transparent;
    }
  }
}

p.sidebar-heading {
  line-height: 1.5;
}
