.card {
  background: var(--common-bgc);
  box-shadow: var(--common-box-shadow);
  padding: 16px 14px;
  &:hover {
    box-shadow: var(--hover-box-shadow);
  }
  transition: all 0.2s linear;
}
.pointer {
  &:hover {
    cursor: pointer;
  }
}
.transition {
  transition: all 0.2s linear;
}
