.card {
  background: var(--wc-bg-common);
  box-shadow: var(--wc-shadow-2);
  padding: 16px 14px;
  &:hover {
    box-shadow: var(--wc-shadow-4);
  }
  transition: all 0.2s linear;
}
.pointer {
  &:hover {
    cursor: pointer;
  }
}
.transition {
  transition: all 0.2s linear;
}
