@import '_variables';

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--wc-bg-container);
}

body {
  font-family: -apple-system, system-ui, Segoe UI, Roboto, Ubuntu, Cantarell,
    Noto Sans, sans-serif, BlinkMacSystemFont, 'Helvetica Neue', 'PingFang SC',
    'Hiragino Sans GB', 'Microsoft YaHei', Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  color: var(--wc-text-secondary);
}

input {
  background-color: var(--wc-bg-container);
  color: var(--wc-text-secondary);
}

a {
  font-weight: 500;
  color: var(--wc-text-brand);
  text-decoration: none;
}

p a code {
  font-weight: 400;
  color: var(--wc-text-brand);
}

kbd {
  background: #eee;
  border: solid 2px #ddd;
  border-bottom: solid 4px #ddd;
  border-radius: 2px;
  padding: 0 0.15em;
}

blockquote {
  font-size: 14px;
  color: #999;
  border-left: 4px solid #dfe2e5;
  margin: 14px 0;
  padding: 4px 0 4px 14px;
  overflow-wrap: break-word;
  & > p {
    margin: 0;
  }
}

ul,
ol {
  padding-left: 1.2em;
}

strong {
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.5;
  margin-top: 24px;
  margin-bottom: 12px;
  overflow-wrap: break-word;

  &:hover .header-anchor {
    opacity: 1;
  }
}

h1 {
  font-size: 30px;
}

h2 {
  padding-bottom: 12px;
  font-size: 22px;
  border-bottom: 1px solid var(--wc-border-primary);
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 14px;
}

a.header-anchor {
  font-size: 0.85em;
  float: left;
  margin-left: -0.87em;
  padding-right: 0.23em;
  margin-top: 0.125em;
  opacity: 0;

  &:hover {
    text-decoration: none;
  }
}

code,
kbd {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p,
ul,
ol {
  line-height: 1.7;
  overflow-wrap: break-word;
}

p {
  margin-top: 12px;
  margin-bottom: 12px;
}

hr {
  border: 0;
  border-top: 1px solid var(--wc-border-primary);
}

table {
  border-collapse: collapse;
  margin: 14px 0;
  display: block;
  overflow-x: auto;
}

tr {
  border-top: 1px solid #dfe2e5;

  &:nth-child(2n) {
    background-color: #f6f8fa;
  }
}

th,
td {
  border: 1px solid #dfe2e5;
  padding: 0.6em 1em;
}

.search-box input {
  background-position: 0.5rem 0.42rem;
}
.arrow {
  display: inline-block;
  width: 0;
  height: 0;

  &.up {
    border: {
      left: 4px solid transparent;
      right: 4px solid transparent;
      bottom: 6px solid var(--wc-border-deep);
    }
  }

  &.down {
    border: {
      left: 4px solid transparent;
      right: 4px solid transparent;
      top: 6px solid var(--wc-border-deep);
    }
  }

  &.right {
    border: {
      top: 4px solid transparent;
      bottom: 4px solid transparent;
      left: 6px solid var(--wc-border-deep);
    }
  }

  &.left {
    border: {
      top: 4px solid transparent;
      bottom: 4px solid transparent;
      right: 6px solid var(--wc-border-deep);
    }
  }
}
