@import '_variables';

%wrapper {
  width: 100%;
  margin: 0;
  padding: 28px 36px;
  padding-top: $navbarHeight;

  @media (max-width: $MQNarrow) {
    padding: 28px;
    padding-top: $navbarHeight;
  }

  @media (max-width: $MQMobileNarrow) {
    padding: 22px;
    padding-top: $navbarHeight;
  }
}

@mixin content_wrapper {
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 28px 36px;

  @media (max-width: $MQNarrow) {
    padding: 28px;
  }

  @media (max-width: $MQMobileNarrow) {
    padding: 22px;
  }
}

@mixin dropdown_wrapper {
  transition: height 0.1s ease-out;
  overflow: hidden;
}
