@import '_variables';
@import '_wrapper';

.page {
  background-color: var(--wc-bg-light);
}

.navbar {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  height: $navbarHeight;
  background-color: var(--wc-bg-common);
  box-sizing: border-box;
  border-bottom: var(--wc-border-primary);
}

.sidebar-mask {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  background-color: var(--wc-bg-mask);
}

.theme-container {
  background-color: var(--wc-bg-light);
  display: flex;
  justify-content: center;
  min-height: 100vh;

  .theme-main-content {
    display: flex;
    max-width: min($maxWidth, 100%);
    width: 100%;
    .page {
      flex: 1;
      max-width: 100%;
      overflow-x: hidden;
    }
  }

  &.sidebar-open {
    .sidebar-mask {
      display: block;
    }
    .layout-navbar {
      .navbar-content {
        width: calc(100% - 8px);
        transform: translateX(calc(-50% - 4px));
      }
    }
  }

  &.no-navbar {
    #{$contentClass}:not(.custom) > h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 22px;
      padding-top: 0;
    }

    .sidebar {
      top: 0;
    }
  }
}

.theme-default-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: calc(-4px - $navbarHeight);
    padding-top: calc($navbarHeight + 16px);
  }
  background-color: var(--wc-bg-common);
}

@media (min-width: ($MQMobile + 1px)) {
  .theme-container.no-sidebar {
    .sidebar {
      display: none;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  #{$contentClass}:not(.custom) > & {
    &:first-child {
      // margin-top: -22px;
      margin-bottom: 14px;
      + p,
      + pre,
      + .custom-container {
        margin-top: 16px;
      }
    }
  }
}

#{$contentClass}:not(.custom) {
  @extend %wrapper;

  a:hover {
    text-decoration: underline;
    color: var(--wc-text-brand) !important;
  }

  p.demo {
    padding: 14px 22px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  img {
    max-width: 100%;
  }
}

#{$contentClass}.custom {
  padding: 0;
  margin: 0;

  img {
    max-width: 100%;
  }
}

// wide mobile
@media (max-width: $MQMobile) {
  .theme-container {
    &.sidebar-open {
      .sidebar {
        transform: translateX(0);
      }
    }

    &.no-navbar {
      .sidebar {
        padding-top: 0;
      }
    }
  }
}

// narrow mobile
@media (max-width: $MQMobileNarrow) {
  h1 {
    font-size: 26px;
  }
}
