@use 'sass:color';

@import '_variables';

#app {
  .back-to-top {
    height: 40px;
    width: 40px;
    display: block;
    right: 30px;
    bottom: 20px;
    z-index: 8;
    background-color: var(--wc-bg-common);
    background-image: url('../assets/rocket.svg');
    background-size: 24px 24px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-shadow: var(--wc-shadow-2);
    &:hover {
      box-shadow: var(--wc-shadow-4);
      background-color: var(--wc-bg-common);
    }
    transition: all 0.2s linear;
    mask: none;
  }
}

#nprogress {
  --nprogress-color: var(--wc-text-brand);
}
