@import '~@/styles/_wrapper.scss';
@import '~@/styles/_variables.scss';

.sidebar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  padding-top: $navbarHeight;
  padding-right: 12px;
  padding-left: 12px;

  .sidebar-content {
    flex: 1;
    flex-shrink: 0;
    padding-bottom: 0;
    overflow: auto;
    .sidebar-items {
      padding: 16px 0;
    }
    &::-webkit-scrollbar {
      width: 0 !important;
      height: 0 !important;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  li {
    line-height: 1;
  }

  a {
    display: inline-block;
  }

  .navbar-items {
    display: none;
    border-bottom: 1px solid var(--wc-border-primary);
    transition: border-color var(--wc-text-secondary);
    padding: 8px 0 10px 0;

    a {
      font-weight: 600;
    }

    .navbar-item {
      display: block;
      line-height: 18px;
      font-size: 1.1em;
      padding: 8px 0 8px 22px;
    }
  }
}

@media (max-width: $MQMobile) {
  .sidebar {
    position: fixed !important;
    z-index: 9;
    .navbar-items {
      display: block;

      .navbar-dropdown-wrapper
        .navbar-dropdown
        .navbar-dropdown-item
        a.router-link-active::after {
        top: calc(14px - 2px);
      }
    }
  }
}

.sidebar-item {
  cursor: default;

  &.sidebar-heading {
    color: var(--wc-text-primary);
    transition: color 0.15s ease;
    font-size: 14px;
    font-weight: bold;
    padding: 6px 8px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;

    &.collapsible {
      cursor: pointer;

      & + .sidebar-item-children {
        @include dropdown_wrapper;
        margin-bottom: 10px;
      }
    }

    .arrow {
      position: relative;
      top: -0.12em;
      left: 0.5em;
    }
  }

  &:not(.sidebar-heading) {
    font-size: 13px;
    font-weight: 400;
    display: inline-block;
    color: var(--wc-text-secondary);
    margin: 0;
    padding: 4px 8px;
    line-height: 1.4;
    width: 100%;
    box-sizing: border-box;

    & + .sidebar-item-children {
      padding-left: 14px;
      font-size: 12px;
    }

    .sidebar-item-children .sidebar-item-children & {
      padding: 4px 14px 4px 8px;

      &.active {
        font-weight: 500;
      }
    }
  }
}

a.sidebar-item {
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;

  &:hover {
    color: var(--wc-text-brand);
  }

  &.active {
    color: var(--wc-text-brand);
    background: var(--wc-bg-active);
    border-radius: 4px;
    border-left: none;
  }
}
.catalogue-items-list {
  a.sidebar-item {
    &.active {
      border-radius: 0;
    }
  }
}

p.sidebar-heading {
  line-height: 1.5;
}
